@charset "UTF-8";
.relationship1 {
	background-image: url(../../../../../core/images/icons/list-add.png);
	background-repeat: no-repeat;
	background-position: 0px 50%;
	text-indent:-3000px;
	width:20px;
}

.relationship-1 {
	background-image: url(../../../../../core/images/icons/list-remove.png);
	background-repeat: no-repeat;
	background-position: 0px 50%;
	text-indent:-3000px;
	width:20px;
}
