ul.shareLinks
{
	list-style: none;
	margin: 10px 0;
	
	border: 1px solid #CCC;

	display:table;
	
	
	
}

ul.shareLinks li
{
	list-style: none;
	margin: 0;
	display:table-cell;
	cursor: pointer;
	padding: 5px;
	vertical-align:middle;
	
}

.shareFacebook
{
	position:relative;
	top:-3px;
}

.shareTwitter {
position:relative;
	top:2px;

	
}
.emailpage a
{
	background-image: url(../../core/images/icons/mail-forward.png);
	background-repeat: no-repeat;
	text-indent: -3000px;
	display: block;
	float: left;
	height: 16px;
	width: 16px;
}

.bookmarkpage a
{
	background-image: url(../../core/images/icons/bookmark-new.png);
	background-repeat: no-repeat;
	text-indent: -3000px;
	display: block;
	float: left;
	height: 16px;
	width: 16px;
}

.printpage a
{
	background-image: url(../../core/images/icons/document-print.png);
	background-repeat: no-repeat;
	text-indent: -3000px;
	display: block;
	float: left;
	height: 16px;
	width: 16px;
}

