@import url("/3rdparty/bootstrap/css/bootstrap.min.css");
@import url("/core/css/global.css");

/* Mobile first; then... */  
@media (min-width: 768px) {
	/* small eg iPad portrait */  
}
@media (min-width: 992px) {
	/* medium, e.g iPad landscape, older monitors, laptops  */
}
@media (min-width: 1200px) {
  /* large, e.g newer monitors, laptops */
}
/*RESPONSIVE TABLES */

@media (max-width: 767px) {
.responsive table, .responsive table tbody, .responsive table thead, .responsive tr, .responsive table td {
	display:block !important;
	width:auto !important;
	max-width:100% !important;
}
}

/***************

NORNALISE AND AUGMENT 

BOOTSTRAP DEFAULTS

******************/
.container .container {
	width:auto;
	margin:0;
	padding:0;
}

img { /* all images max out at screen/col width */
	display:inline-block;
	margin:0;
	max-width:100%;
	height:auto;
}

.row img { /* all column images fill col width */
	width:100%;
}

img.actualsize { /* override above */
	width:auto !important;
	max-width:none;
}

small {
	color:inherit !important;
}

td, th {
	vertical-align:top;
}

label {
	font-weight:normal;
}
legend {
  display: inline;
  margin:0;
  padding: 0 5px;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border:none;
  width:auto;
}
	
.label {
display: inline;
padding: 0;
font-size: 1em;
font-weight: normal;
line-height: inherit;
color: inherit;
text-align: left;
white-space:normal;
vertical-align:auto;
border-radius:none;
}




/* TYPOGRAPHY */

a, a:link, a:visited, a:hover, a:active {
	color:inherit;
}

.safari-fix {
	/* fixes z-index and font issues in Safari */
      -webkit-transform:translateZ(1px);
      transform:translateZ(1px);
}

* {
	-webkit-text-size-adjust: 100%; /* stops font soze changing in iOS */
	
	/*-webkit-font-smoothing: subpixel-antialiased;  makes safaro looks like Firefox */
	-moz-osx-font-smoothing: grayscale; /* fonts don't appear heavier in Firefox */
}  

body, button, input, select, textarea, th, td { font-family: sans-serif; color: #222; }




input[type="button"], input[type="submit"], .button {
	-webkit-appearance: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #8d7f6f;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #8d7f6f;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #8d7f6f;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #8d7f6f;
}

hr { 
   
    border-style:none;
    border:none;
	border-top:1px solid #000000;
}

/**** RE-ORDERING IWTH CSS ******

#wrapper {display:table;}

#first {display:table-caption;}
#second {display:table-header-group;}
#last {display:table-footer-group;}

*/


/* ALWAYS SHOW SCROLL BARS

 ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


*/


/* Truncate to number of lines */



.truncate {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 36px; /* Fallback for non-webkit = font-size x line-height x lines to show */
  margin: 0 auto;
  font-size: 10px;
  line-height: 1.2;
  -webkit-line-clamp: 3; /*lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vertical-center {
 /* centers anything vertically if you don't know dimensions */
  position: relative;/* or absolute*/
  top: 50%;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webit-transform: translateY(-50%);
  transform: translateY(-50%);
  /* note you can do this with absolute on x axis too  */
}

/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;vertical-align:top;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;vertical-align:top;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;vertical-align:top;
    }
}

/*  to make child div same height as parent make it INLINE BLOCK and 100%

display: inline-block;  height:100%; */



/** BOOTSTRAP COLUMNS EMULATION 

.container {
	width:100%;
	padding: 0 15px;
}

.container, .container * {
	box-sizing:border-box;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  
}

.row img {
	max-width:100%;
	height:auto;
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
 
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
**/

/* 100
100 = thin
200 = extra-light
300 = light
400 = normal, book
500 = medium
600 = demi-bold
700 = bold
800 = heavy
900 = black
*/