@charset "UTF-8";
.payment10 {
	background-image: url(../images/money_pound_0.png);
	background-repeat: no-repeat;
	background-position: 0px 50%;
}

.payment11,
.payment01 {
	background-image: url(../images/money_pound_1.png);
	background-repeat: no-repeat;
	background-position: 0px 50%;
}
